In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.options.display.max_rows = 2000

# Data loading and cleaning

In [3]:
murders_2010_df = pd.read_csv( '../data/Delito_Homicidios_2010.csv' )
murders_2011_df = pd.read_csv( '../data/Delito_Homicidios_2011.csv' )
murders_2012_df = pd.read_csv( '../data/Delito_Homicidios_2012.csv' )
murders_2013_df = pd.read_csv( '../data/Delito_Homicidios_2013.csv' )
murders_2014_df = pd.read_csv( '../data/Delito_Homicidios_2014.csv' )
murders_2015_df = pd.read_csv( '../data/Delito_Homicidios_2015.csv' )
murders_2016_df = pd.read_csv( '../data/Delito_Homicidios_2016.csv' )
murders_2017_df = pd.read_csv( '../data/Delito_Homicidios_2017.csv' )

In [4]:
del murders_2010_df[ 'MUNICIPIO' ]
del murders_2010_df[ 'BARRIO' ]
del murders_2010_df[ 'ZONA' ]
del murders_2010_df[ 'MOVIL VICTIMA' ]
del murders_2010_df[ 'MOVIL AGRESOR' ]
del murders_2010_df[ 'ESTADO CIVIL' ]
del murders_2010_df[ 'CLASE EMPLEADO' ]
del murders_2010_df[ 'PROFESIONES' ]
del murders_2010_df[ 'ESCOLARIDAD' ]
del murders_2010_df[ 'PAIS NACE' ]
del murders_2010_df[ 'CODIGO DANE' ]
del murders_2010_df[ '2010' ]

del murders_2011_df[ 'MUNICIPIO' ]
del murders_2011_df[ 'BARRIO' ]
del murders_2011_df[ 'ZONA' ]
del murders_2011_df[ 'MOVIL VICTIMA' ]
del murders_2011_df[ 'MOVIL AGRESOR' ]
del murders_2011_df[ 'ESTADO CIVIL' ]
del murders_2011_df[ 'CLASE EMPLEADO' ]
del murders_2011_df[ 'PROFESIONES' ]
del murders_2011_df[ 'ESCOLARIDAD' ]
del murders_2011_df[ 'PAIS NACE' ]
del murders_2011_df[ 'CODIGO DANE' ]
del murders_2011_df[ '2011' ]

del murders_2012_df[ 'MUNICIPIO' ]
del murders_2012_df[ 'BARRIO' ]
del murders_2012_df[ 'ZONA' ]
del murders_2012_df[ 'MOVIL VICTIMA' ]
del murders_2012_df[ 'MOVIL AGRESOR' ]
del murders_2012_df[ 'ESTADO CIVIL' ]
del murders_2012_df[ 'CLASE EMPLEADO' ]
del murders_2012_df[ 'PROFESIONES' ]
del murders_2012_df[ 'ESCOLARIDAD' ]
del murders_2012_df[ 'PAIS NACE' ]
del murders_2012_df[ 'CODIGO DANE' ]
del murders_2012_df[ '2012' ]

del murders_2013_df[ 'MUNICIPIO' ]
del murders_2013_df[ 'BARRIO' ]
del murders_2013_df[ 'ZONA' ]
del murders_2013_df[ 'MOVIL VICTIMA' ]
del murders_2013_df[ 'MOVIL AGRESOR' ]
del murders_2013_df[ 'ESTADO CIVIL' ]
del murders_2013_df[ 'CLASE EMPLEADO' ]
del murders_2013_df[ 'PROFESIONES' ]
del murders_2013_df[ 'ESCOLARIDAD' ]
del murders_2013_df[ 'PAIS NACE' ]
del murders_2013_df[ 'CODIGO DANE' ]
del murders_2013_df[ '2013' ]

del murders_2014_df[ 'MUNICIPIO' ]
del murders_2014_df[ 'BARRIOS' ]
del murders_2014_df[ 'ZONA' ]
del murders_2014_df[ 'MOVIL VICTIMA' ]
del murders_2014_df[ 'MOVIL AGRESOR' ]
del murders_2014_df[ 'ESTADO CIVIL' ]
del murders_2014_df[ 'CLASE EMPLEADO' ]
del murders_2014_df[ 'PROFESIONES' ]
del murders_2014_df[ 'ESCOLARIDAD' ]
del murders_2014_df[ 'PAIS NACE' ]
del murders_2014_df[ 'CODIGO DANE' ]
del murders_2014_df[ '2014' ]

del murders_2015_df[ 'MUNICIPIO' ]
del murders_2015_df[ 'BARRIO' ]
del murders_2015_df[ 'ZONA ' ]
del murders_2015_df[ 'MOVIL VICTIMA ' ]
del murders_2015_df[ 'MOVIL AGRESOR ' ]
del murders_2015_df[ 'ESTADO CIVIL' ]
del murders_2015_df[ 'CLASE EMPLEADO' ]
del murders_2015_df[ 'PROFESION' ]
del murders_2015_df[ 'ESCOLARIDAD' ]
del murders_2015_df[ 'PAIS NACE' ]
del murders_2015_df[ 'CODIGO DANE ' ]
del murders_2015_df[ '2015' ]

del murders_2016_df[ 'Municipio' ]
del murders_2016_df[ 'Barrio' ]
del murders_2016_df[ 'Zona' ]
del murders_2016_df[ 'Móvil Agresor' ]
del murders_2016_df[ 'Móvil Victima' ]
del murders_2016_df[ 'Estado civil' ]
del murders_2016_df[ 'Clase de empleado' ]
del murders_2016_df[ 'Profesión' ]
del murders_2016_df[ 'Escolaridad' ]
del murders_2016_df[ 'País de nacimiento' ]
del murders_2016_df[ 'Código DANE' ]
del murders_2016_df[ 'Cantidad' ]

del murders_2017_df[ 'Municipio' ]
del murders_2017_df[ 'Barrio' ]
del murders_2017_df[ 'Zona' ]
del murders_2017_df[ 'Móvil Agresor' ]
del murders_2017_df[ 'Móvil Victima' ]
del murders_2017_df[ 'Estado civil' ]
del murders_2017_df[ 'Clase de empleado' ]
del murders_2017_df[ 'Profesión' ]
del murders_2017_df[ 'Escolaridad' ]
del murders_2017_df[ 'País de nacimiento' ]
del murders_2017_df[ 'Código DANE' ]
del murders_2017_df[ 'Cantidad' ]

In [5]:
murders_2016_df.rename( columns = { 'Fecha' : 'FECHA', 'Departamento' : 'DEPARTAMENTO', 'Día' : 'DIA', 'Clase de sitio' : 'CLASE SITIO', 'Arma empleada' : 'ARMA EMPLEADA', 'Edad' : 'EDAD', 'Sexo' : 'GENERO' }, inplace = True )
murders_2017_df.rename( columns = { 'Fecha' : 'FECHA', 'Departamento' : 'DEPARTAMENTO', 'Día' : 'DIA', 'Clase de sitio' : 'CLASE SITIO', 'Arma empleada' : 'ARMA EMPLEADA', 'Edad' : 'EDAD', 'Sexo' : 'GENERO' }, inplace = True )

In [6]:
def parse_dates_multiple( x, formats ):
    for fmt in formats:
        try:
            return datetime.strptime( x, fmt )
        except ValueError:
            pass
    raise ValueError( 'no valid date format found for ' + x )

# 2010
murders_2010_df[ 'FECHA' ] = murders_2010_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2010_df[ 'HORA' ]
del murders_2010_df[ 'HORA' ]
murders_2010_df[ 'FECHA' ] = murders_2010_df[ 'FECHA' ].apply( lambda x: datetime.strptime( x, '%d/%m/%Y %H:%M' ) )

# 2011
murders_2011_df[ 'FECHA' ] = murders_2011_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2011_df[ 'HORA' ]
del murders_2011_df[ 'HORA' ]
murders_2011_df[ 'FECHA' ] = murders_2011_df[ 'FECHA' ].apply( lambda x: datetime.strptime( x, '%d/%m/%Y %H:%M' ) )

# 2012
murders_2012_df[ 'FECHA' ] = murders_2012_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2012_df[ 'HORA' ]
del murders_2012_df[ 'HORA' ]
murders_2012_df[ 'FECHA' ] = murders_2012_df[ 'FECHA' ].apply( lambda x: datetime.strptime( x, '%d/%m/%Y %H:%M' ) )

# 2013
murders_2013_df[ 'FECHA' ] = murders_2013_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2013_df[ 'HORA' ]
del murders_2013_df[ 'HORA' ]
murders_2013_df[ 'FECHA' ] = murders_2013_df[ 'FECHA' ].apply( lambda x: datetime.strptime( x, '%d/%m/%Y %H:%M' ) )

# 2014
murders_2014_df[ 'FECHA' ] = murders_2014_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2014_df[ 'HORA' ]
del murders_2014_df[ 'HORA' ]
murders_2014_df[ 'FECHA' ] = murders_2014_df[ 'FECHA' ].apply( lambda x: datetime.strptime( x, '%d/%m/%Y %H:%M' ) )

# 2015
murders_2015_df[ 'FECHA' ] = murders_2015_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2015_df[ 'HORA' ]
del murders_2015_df[ 'HORA' ]
murders_2015_df[ 'FECHA' ] = murders_2015_df[ 'FECHA' ].apply( lambda x: parse_dates_multiple( x, ( '%d/%m/%Y %H:%M', '%m/%d/%Y %H:%M' ) ) )

# 2016
murders_2016_df[ 'FECHA' ] = murders_2016_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2016_df[ 'Hora' ].str[ 11: ]
del murders_2016_df[ 'Hora' ]
murders_2016_df[ 'FECHA' ] = murders_2016_df[ 'FECHA' ].apply( lambda x: parse_dates_multiple( x, ( '%d/%m/%Y %I:%M:%S %p', '%m/%d/%Y %I:%M:%S %p' ) ) )

# 2017
murders_2017_df[ 'FECHA' ] = murders_2017_df[ 'FECHA' ].str[ :10 ] + ' ' +  murders_2017_df[ 'Hora' ]
del murders_2017_df[ 'Hora' ]
murders_2017_df[ 'FECHA' ] = murders_2017_df[ 'FECHA' ].apply( lambda x: parse_dates_multiple( x, ( '%d/%m/%Y %H:%M:%S', '%m/%d/%Y %H:%M:%S', '%d/%m/%Y %-H:%M:%S', '%m/%d/%Y %-H:%M:%S' ) ) )

# Concatenation

In [7]:
murders_df = pd.concat( [ murders_2010_df,
                        murders_2011_df,
                        murders_2012_df,
                        murders_2013_df,
                        murders_2014_df,
                        murders_2015_df,
                        murders_2016_df,
                        murders_2017_df ] )

In [8]:
del murders_df[ 'CLASE SITIO' ]
del murders_df[ 'DEPARTAMENTO' ]

In [9]:
# Imputation of low frecuency wapons
weapon_df = murders_df[ 'ARMA EMPLEADA' ].value_counts( dropna = False ).reset_index()
low_frec_weapon = weapon_df.loc[ weapon_df[ 'ARMA EMPLEADA' ] < 20, 'index' ].tolist()
murders_df.loc[ murders_df[ 'ARMA EMPLEADA' ].isin( low_frec_weapon ), 'ARMA EMPLEADA' ] = 'OTRA'

In [10]:
murders_df[ 'ARMA EMPLEADA' ].value_counts( dropna = False )

ARMA DE FUEGO                         84276
ARMA BLANCA                           15695
ARMA BLANCA / CORTOPUNZANTE            5672
CONTUNDENTES                           3120
CUERDA/SOGA/CADENA                      394
ARTEFACTO EXPLOSIVO/CARGA DINAMITA      377
MINA ANTIPERSONA                        313
NO REPORTADO                            196
PUNZANTES                               169
BOLSA PLASTICA                          164
CORTANTES                               147
OTRA                                    140
GRANADA DE MANO                         127
GASOLINA                                 54
CILINDRO BOMBA                           46
SIN EMPLEO DE ARMAS                      42
ALMOHADA                                 34
VENENO                                   28
CINTAS/CINTURON                          27
CARRO BOMBA                              25
Name: ARMA EMPLEADA, dtype: int64

In [11]:
def transform_age( x ):
    try:
        age = int( x )
        if age < 18:
            return '<18'
        elif age >= 18 and age < 30:
            return '18-29'
        elif age >= 30 and age < 40:
            return '30-39'
        elif age >= 40 and age <= 50:
            return '40-50'
        else:
            return '>50'
    except ValueError:
        return 'NO REPORTADO'
        
    
murders_df[ 'EDAD' ] = murders_df[ 'EDAD' ].apply( lambda x: transform_age( x ) )

In [12]:
murders_df[ 'EDAD' ].value_counts( dropna = False )

18-29           48474
30-39           28036
40-50           15956
>50             10592
<18              7576
NO REPORTADO      412
Name: EDAD, dtype: int64

In [13]:
murders_df.sort_values( by = [ 'FECHA' ], inplace = True )

In [14]:
murders_df[ 'FECHA' ] = murders_df[ 'FECHA' ].dt.date

In [15]:
murders_df[ 'FECHA' ] = murders_df[ 'FECHA' ].apply( lambda dt: dt.replace( day = 1 ) )

In [16]:
del murders_df[ 'ARMA EMPLEADA' ]

In [17]:
murders_df.head()

         FECHA      DIA   EDAD     GENERO
68  2010-01-01  Viernes  30-39  MASCULINO
29  2010-01-01  Viernes  30-39  MASCULINO
28  2010-01-01  Viernes  18-29  MASCULINO
22  2010-01-01  Viernes  40-50  MASCULINO
24  2010-01-01  Viernes    >50  MASCULINO

In [18]:
murders_by_weekday = murders_df.groupby( [ 'FECHA', 'DIA' ] ).agg( { 'EDAD' : 'count' } ).reset_index().set_index( [ 'FECHA', 'DIA' ] ).unstack( 1 ).xs( 'EDAD', axis = 1, drop_level = True).reset_index()
murders_by_weekday = murders_by_weekday.fillna( 0 )

In [19]:
murders_by_weekday.shape

(96, 8)

In [20]:
murders_by_age = murders_df.groupby( [ 'FECHA', 'EDAD' ] ).agg( { 'DIA' : 'count' } ).reset_index().set_index( [ 'FECHA', 'EDAD' ] ).unstack( 1 ).xs( 'DIA', axis = 1, drop_level = True).reset_index()
murders_by_age = murders_by_age.fillna( 0 )

In [21]:
murders_by_age.shape

(96, 7)

In [22]:
murders_by_genre = murders_df.groupby( [ 'FECHA', 'GENERO' ] ).agg( { 'DIA' : 'count' } ).reset_index().set_index( [ 'FECHA', 'GENERO' ] ).unstack( 1 ).xs( 'DIA', axis = 1, drop_level = True).reset_index()
murders_by_genre = murders_by_genre.fillna( 0 )

In [23]:
murders_by_genre.shape

(96, 4)

In [24]:
murders_by_all = murders_df.groupby( [ 'FECHA' ] ).agg( { 'DIA' : 'count' } ).reset_index().rename( columns = { 'DIA' : 'TOTAL' } )
murders_by_all[ 'FECHA' ] = pd.to_datetime( murders_by_all[ 'FECHA' ] )

In [25]:
murders_by_all.shape

(96, 2)

In [26]:
#grouped_murders_df = murders_by_weekday.merge( murders_by_age, how = 'inner', on = 'FECHA' )
grouped_murders_df = murders_by_age.merge( murders_by_genre, how = 'inner', on = 'FECHA' )
grouped_murders_df = grouped_murders_df.merge( murders_by_all, how = 'inner', on = 'FECHA' )

In [37]:
grouped_murders_df.tail( 10 )

,FECHA,18-29,30-39,40-50,<18,>50,NO REPORTADO,FEMENINO,MASCULINO,NO REPORTA,TOTAL
86,2017-03-01,404.0,212.0,148.0,57.0,90.0,0.0,78.0,833.0,0.0,911
87,2017-04-01,413.0,264.0,139.0,70.0,107.0,0.0,102.0,891.0,0.0,993
88,2017-05-01,460.0,246.0,135.0,63.0,134.0,0.0,106.0,932.0,0.0,1038
89,2017-06-01,383.0,224.0,133.0,68.0,89.0,0.0,86.0,811.0,0.0,897
90,2017-07-01,472.0,277.0,138.0,81.0,111.0,0.0,89.0,990.0,0.0,1079
91,2017-08-01,421.0,248.0,136.0,57.0,89.0,0.0,80.0,871.0,0.0,951
92,2017-09-01,377.0,228.0,139.0,53.0,117.0,0.0,66.0,848.0,0.0,914
93,2017-10-01,474.0,256.0,129.0,47.0,113.0,0.0,96.0,923.0,0.0,1019
94,2017-11-01,437.0,237.0,166.0,68.0,129.0,0.0,97.0,940.0,0.0,1037
95,2017-12-01,532.0,305.0,165.0,68.0,135.0,0.0,102.0,1103.0,0.0,1205

In [35]:
grouped_murders_df.corr()

,18-29,30-39,40-50,<18,>50,NO REPORTADO,FEMENINO,MASCULINO,NO REPORTA,TOTAL
18-29,1.000000,0.866767,0.790434,0.792339,0.500886,0.654513,0.750230,0.970465,0.180611,0.971713
30-39,0.866767,1.000000,0.785756,0.717601,0.470954,0.539497,0.711711,0.930261,0.202930,0.930826
40-50,0.790434,0.785756,1.000000,0.644173,0.388629,0.573023,0.656869,0.867179,0.252447,0.867264
<18,0.792339,0.717601,0.644173,1.000000,0.425932,0.620083,0.659894,0.820010,0.276448,0.823990
>50,0.500886,0.470954,0.388629,0.425932,1.000000,0.315906,0.533997,0.559699,0.145135,0.570433
NO REPORTADO,0.654513,0.539497,0.573023,0.620083,0.315906,1.000000,0.507212,0.663531,0.398040,0.664692
FEMENINO,0.750230,0.711711,0.656869,0.659894,0.533997,0.507212,1.000000,0.735953,0.217990,0.779213
MASCULINO,0.970465,0.930261,0.867179,0.820010,0.559699,0.663531,0.735953,1.000000,0.227253,0.997796
NO REPORTA,0.180611,0.202930,0.252447,0.276448,0.145135,0.398040,0.217990,0.227253,1.000000,0.234697
TOTAL,0.971713,0.930826,0.867264,0.823990,0.570433,0.664692,0.779213,0.997796,0.234697,1.000000

In [28]:
grouped_murders_df.to_csv( '../data/murders_timeserie.csv', sep = ',', index = False )